<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Erreur404</servlet-name>
        <servlet-class>Erreur.Erreur404</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Erreur</servlet-name>
        <servlet-class>Erreur.Erreur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Erreur404</servlet-name>
        <url-pattern>/Erreur404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Erreur</servlet-name>
        <url-pattern>/Erreur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Erreur404</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/Erreur</location>
    </error-page>
</web-app>
